button {
  width: 100px;
  height: 50px;
  background: rgb(63, 0, 121);
  color:  #ffb700;
  border: none;
  padding: 12px 24px;
  border-radius: 120px;
  cursor: pointer;
  transition: 0.3s;
display: flex;
  flex-wrap: wrap;    
  justify-content: center;
  gap: 10px;
}
body {
  background: maroon;
  margin: 0;
  padding: 0;
position: center;
align-items: center;
}
button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
h1 {
  color: #ffb700;
  font-family: 'courier new', sans-serif;
}
h2 {
  color: #ffb700;
  font-family: 'courier new', sans-serif;
}
h3 {
  color: #ffb700;
  font-family: 'courier new', sans-serif;
}
noscript {
  color: #ffb700;
  font-family: 'courier new', sans-serif;
}
#gameFrame {
  position: fixed;
  top: 50px; /* height of top bar */
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  border: none;
}
#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;      /* 👈 allows multiple rows */
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
#searchBar {
  padding: 10px;
  width: 220px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  color:aqua;
}
#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  display: flex;   
  flex-direction: row;
  align-items: middle;
  gap: 10px;
  background: transparent;
  padding: 10px;
  z-index: 9999;
}

#topBar button {
  width: auto;
  display: inline-block;
}
