button {
  width: 100px;
  height: 50px;
  background: linear-gradient(45deg, #2bff006b, #3333ff);
  color: rgb(21, 255, 0);
  border: none;
  padding: 12px 24px;
  border-radius: 120px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.05);
